@model NPLSubscriptionServiceWebApp.Models.ViewModels.SubscriptionViewModel
@{
    ViewData["Title"] = "Create";
}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Subscriptions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h1>Create</h1>

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-12 text-right">
                <a asp-action="Index" class="btn btn-sm btn-simple m-2 animation-on-hover">  <i class="tim-icons icon-bullet-list-67"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.OutputHandler.IsErrorOccured)
            {
                <h4 class="text-danger font-weight-bold p-3">@Model.OutputHandler.Message</h4>
            }
            else if (Model.OutputHandler.Message != null)
            {
                <h4 class="text-success font-weight-bold p-3">@Model.OutputHandler.Message</h4>
            }
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>Client</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.ClientId"
                                asp-items="@(new SelectList(Model.Clients, "ClientId", "ClientName") )"></select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Subscription Type</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.SubscriptionTypeId"
                                asp-items="@(new SelectList(Model.SubscriptionTypes, "SubscriptionTypeId", "SubscriptionName") )"></select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Subscription Status </label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.SubscriptionStatusId"
                                asp-items="@(new SelectList(Model.SubscriptionStatuses, "SubscriptionStatusId", "Description") )"></select>
                    </div>
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>Promotion Code</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.PromotionId"
                                asp-items="@(new SelectList(Model.Promotions, "PromotionId", "PromotionCode") )"></select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Publication</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.PublicationId"
                                asp-items="@(new SelectList(Model.Publications, "PublicationId", "PublicationTitle") )"></select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Method of Delivery</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.TypeOfDeliveryId"
                                asp-items="@(new SelectList(Model.TypeOfDeliveries, "TypeOfDeliveryId", "TypeOfDeliveryDescription") )"></select>
                    </div>
                </div>
            </div>
            <div class="form-row ">
                 
                <div class="form-group col-md-4">
                    <label>Payments</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" required asp-for="@Model.Subscription.PaymentId"
                                asp-items="@(new SelectList(Model.ClientPaymentRecords, "PaymentId", "TransactionId") )"></select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Start Date for Subscription</label>
                    <div class="input-group">
                        <input type="date" class="form-control bootstrap-datetimepicker-widget" asp-for="@Model.Subscription.DateOfSubscription" required>
                        <span asp-validation-for="@Model.Subscription.DateOfSubscription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Number Of Copies</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="@Model.Subscription.NumberOfCopies" placeholder="Enter Number of Copies">
                        <span asp-validation-for="@Model.Subscription.NumberOfCopies" class="text-danger"></span>
                    </div>
                </div>


            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<script>
    $('.datepicker').datepicker();
</script>