@model NPLSubscriptionServiceWebApp.Models.ViewModels.PromotionViewModel
@{
    ViewData["Title"] = "Update";
}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Promotion</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>
    </ol>
</nav>

<h1>Update</h1>

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-12 text-right">
                <a asp-action="Index" class="btn btn-sm btn-simple m-2 animation-on-hover">  <i class="tim-icons icon-bullet-list-67"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.OutputHandler.IsErrorOccured)
        {
            <h4 class="text-danger font-weight-bold p-3">@Model.OutputHandler.Message</h4>
        }
        else if (Model.OutputHandler.Message != null)
        {
            <h4 class="text-success font-weight-bold p-3">@Model.OutputHandler.Message</h4>
        }
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row ">

                <input asp-for="@Model.Promotion.PromotionId" hidden />
                 <input asp-for="@Model.Promotion.CreatedBy" hidden />
                    <input asp-for="@Model.Promotion.CreatedDate" hidden />
                 <div class="form-group col-md-4">
                    <label>Promotion Code</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="@Model.Promotion.PromotionCode" placeholder="Enter Promotion Code" required>
                        <span asp-validation-for="@Model.Promotion.PromotionCode" class="text-danger"></span>
                    </div>
                </div>
                   <div class="form-group col-md-4">
                    <label>Discount Percentage</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="@Model.Promotion.DiscountPercentage" placeholder="Enter Discount Percentage  e.g 10" required>
                        <span asp-validation-for="@Model.Promotion.DiscountPercentage" class="text-danger"></span>
                    </div>
                </div>


            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
