@model NPLSubscriptionServiceWebApp.Models.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "Payment Types";
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0">Payments</h4>
                        <p class="card-category">Below is a list of all Payments. Click on the update Icon for more information</p>
                        <div class="row">
                            <div class="col-12 text-right">
                                <a asp-action="Create" class="btn btn-sm btn-simple btn-outline-info m-2 animation-on-hover"><i class="tim-icons icon-simple-add"></i> Add New</a>
                            </div>
                        </div>
                    </div>
                    @if (Model.OutputHandler.IsErrorOccured)
                    {
                        <h4 class="text-danger font-weight-bold p-3">@Model.OutputHandler.Message</h4>
                    }
                    else if (Model.OutputHandler.Message != null)
                    {
                        <h4 class="text-success font-weight-bold p-3">@Model.OutputHandler.Message</h4>
                    }
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-hover dataTable">
                                <thead class="font-weight-bold text-primary">
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Payment Type Description</th>
                                        <th>Account Number</th>
                                        <th>Trans Id</th>
                                        <th>Validity</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Payments != null)
                                    {
                                        @foreach (var item in Model.Payments.ToList().OrderBy(item => item.ClientName))
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItme => item.ClientName)</td>
                                                <td>@Html.DisplayFor(modelItme => item.PaymentTypeDescription)</td>
                                                <td>@Html.DisplayFor(modelItme => item.AccountNumber)</td>
                                                <td>@Html.DisplayFor(modelItme => item.TransactionId)</td>
                                                @if (item.IsUsed)
                                                {
                                                    <td>Used</td>
                                                }
                                                else
                                                {
                                                    <td>Valid</td>

                                                }
                                               
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
